/* CSS Entry Point */
@import 'font-awesome';

.app {
	border: 10px solid black;
	border-radius: 20px;
	font-family: Helvetica, sans-serif;
	height: 634px;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 330px;
}

button {
	
}

a {
	color: black;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	border: 1px solid gray;
	border-radius: 50%;
	overflow: hidden;
}

div {
	img {
		height: 150px;
		width: 150px;
	}
}

li{
	display: flex;
	align-items: center;
	font-size: 22px;
	border-bottom: 2px solid #ededed;
	height: 50px;
	list-style: none;
	margin: 0;
	img {
		margin: 10px 10px 10px 10px;
		height: 30px;
		width: 30px;
	}
}

.fa-user, .fa-envelope, .fa-mobile, .fa-music, .fa-globe {
	font-size: 20px;
	margin: 0px 20px 0px 20px;
}

.fa-user {
	padding-left: calc((20px - 15.7031px) / 2);
	padding-right: calc((20px - 15.7031px) / 2);
}

.fa-mobile {
	padding-left: calc((20px - 8.5625px) / 2);
	padding-right: calc((20px - 8.5625px) / 2);
}

.fa-music {
	padding-left: calc((20px - 17.1406px) / 2);
	padding-right: calc((20px - 17.1406px) / 2);
}

.fa-globe {
	margin-right: 22.86px;
	padding-left: calc((20px - 17.1406px) / 2);
	padding-right: calc((20px - 17.1406px) / 2);
}

.fa-arrow-left {
	font-size: 25px;
}

.avatar {
	background: #a7d076;
	height: 204px;
	position: relative;
	button {
		position: absolute;
		left: 5px;
		top: 5px;
		background: none;
		border: none;
	}
	img {
		position: absolute;
		top: calc(50% - 75px);
		left: calc(50% - 75px);
	}
}

.edit-remove {
	div {
		text-align: center;
		width: 165px;
		&.edit-remove-edit {
			color: black;
		}
		&.edit-remove-remove {
			color: red;
		}
	}
}

.contact-names {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #a7d076;
	color: white;
	font-size: 30px;
	height: 50px;
}

.peanut-butter {
	height: 414px;
	overflow: scroll;
}

.form-view {
	position: relative;
	height: 600px;
	text-align: center;
	h3 {
		font-size: 25px;
		margin: 0;
		padding: 10px 0px 20px 0px;
	}
	input {
		border: 2px solid #ededed;
		border-radius: 2px;
		color: #a7d076;
		font-size: 16px;
		height: 20px;
		width: 236px;
		margin-bottom: 12px;
	}
	button {
		background: #a7d076;
		border: 2px solid #ededed;
		border-radius: 4px;
		color: #ededed;
		font-size: 30px;
		height: 50px;
		margin-top: 7px;
		width: 236px;

	}
}

.add-new {
	background: #a7d076;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 30px;
	height: 50px;
	width: 100%;
}

.back-home {
	color: #a7d076;
	width: 40px;
	position: absolute;
	left: 5px;
	top: 10px;
}

.drop {
	margin: auto;
	div {
		border: none;
		margin: auto;
		img {
			border: 2px solid #ededed;
			border-radius: 4px;
			object-fit: cover;
			width: 236px;
			margin: auto;
		}
	}
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	font-size: 30px;
	height: 60px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

.camera {
	position: absolute;
	top: 23.5px;
	left: 100px;
	background: #193861;
	border: 1.5px solid #6e6e6e;
	border-radius: 100%;
	height: 10px;
	width: 10px;
}

.listener {
	position: absolute;
	top: 27px;
	left: 134px;
	border: 1px solid lighten(black, 20%);
	border-radius: 3px;
	height: 4px;
	width: 60px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	font-size: 30px;
	height: 60px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.home-button {
	border: 2px solid lighten(black, 20%);
	border-radius: 100%;
	height: 40px;
	width: 40px;
	margin-top: 10px;
}


